.icon img {
    box-sizing: border-box;
    padding: 20px;
}
.mini-box img {
    width: 60px;
}
img {
    max-width: 100%;
}

#testimonials {
    position: relative;
}

#testimonials::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/about-bgc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 20% 0;
    opacity: 0.15;
}

.count-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icon {
    filter: brightness(0) invert(1);
    opacity: 0.3;
    height: 80px;
}

.blog .blog-post {
    padding-top: 200px !important;
}
/* 
@media (max-width: 912px) {
    .blog .section {
        padding-top: 170px !important;
    }
} */

.article-title {
    font-size: 2.7rem !important;
    line-height: 1.2 !important;
}

.article-subtitle {
    font-size: 1.4rem;
    line-height: 1.2 !important;
}

/* admin page */

.login-page {
    min-height: calc(100vh - 185px);
}

.admin-page {
    margin: 0;
    padding: 0 !important;
}

.admin-menu {
    background-color: var(--indigo);
    color: white;
    min-height: calc(100vh - 54px);
    padding: 20px;
}

.admin-menu-link {
    display: block;
    color: white;
    transition: all .3s linear;
    border-bottom: 1px solid white;
    padding: 10px 0;
}

.admin-menu-link-active {
    color: var(--pink);
    filter: brightness(1.75);
}

.admin-menu-link:hover {
    color: var(--pink);
}


::-webkit-file-upload-button {
    background-color: var(--indigo) !important;
    color: white !important;
    outline: none;
    border: none;
    padding: 0.7em;
}

.input-checkbox {
    padding-right: 10px;
}

.link {
    color: var(--pink);
}

.link-policy {
    color: var(--indigo);
}

ol.policy li {
    list-style: decimal;
}

ul.policy li {
    list-style: decimal;
}

.policy {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.fixed-bottom-cookies {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 30px;
    background-color: var(--pink);
    color: white;
    font-size: 13px;
}

.d-none {
    display: none;
}